<div class="employee-container">
    <div>
      <div class="employee-header">
        <h2>Członkowie</h2>
        <div matTooltip="Dodaj" class="addButton" (click)="openAddMemberDialog('250ms', '0ms')">+</div>
      </div>
    </div>

    <ul class="employee-list">

      <li class="employee-bar" *ngFor="let employee of employees; let i = index;">
        <img src='https://www.w3schools.com/w3css/img_avatar3.png' class="bg employee-bar-item circle" style="width:50px">
        <div class="employee-bar-item">
          <span class="font-large">{{ employee.firstName }} {{ employee.lastName }} </span><br/>
          <span>Designer</span>
        </div>
      </li>

    </ul>
</div>
