.bg:hover {
    animation: pulse 1.2s ease infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: scale(1.2);
      opacity: 0.1;
    }
}

h2 {
    font-size:26px;
}

.font-large {
    font-size: 18px;
}

ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
ul li {
    padding:8px 0px;
    border-bottom:1px solid #ddd;
}

ul li:hover {
    background-color: gray;
}

.ul li:last-child {
    border-bottom:none;
    cursor: pointer;
}

.circle {
    border-radius:50%;
}

.employee-list {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.employee-container {
    padding:0.01em 16px;
    width: 450px;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 99%;
}

.employee-bar {
    width:100%;
    overflow:hidden;
}

.employee-bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}

.employee-button {
    border:none;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    margin-right: 30px;
    padding: 15px;
}

.addButton {
  background-color: aquamarine;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: gray;
  box-shadow: 0 0 1px 1px gray;
  cursor: pointer;
}
