.addButton{
  position: relative;
  right: 10px;
  background-color:aquamarine;;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
}
.cards{
  display:flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
.projectList{
  display: flex;
  flex-wrap: wrap;
}
