<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" class="navbar" [style.width]="sidenavHidden ? '6rem' : '15rem'">
    <!-- Zawartość SideNav -->
    <ul class="navbar-nav">
      <li class="nav-item"><a routerLink="dashboard" class="nav-link">
        <img matTooltip="Strona główna" src="/assets/logo.svg" width="32px" height="32px">
        <div class="nav-text" [style.display]="sidenavHidden ? 'none' : 'inline'">
          Strona główna
        </div>
      </a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link">
        <mat-icon matTooltip="Backlog" style="font-size: 32px; width: 32px; height: 32px">book</mat-icon>
        <div class="nav-text" [style.display]="sidenavHidden ? 'none' : 'inline'">
          Backlog
        </div>
      </a></li>

      <li class="nav-item"><a routerLink="/about" class="nav-link">
        <mat-icon matTooltip="Aktywne sprinty" style="font-size: 32px; width: 32px; height: 32px">flag</mat-icon>
        <div class="nav-text" [style.display]="sidenavHidden ? 'none' : 'inline'">
          Aktywne sprinty
        </div>
      </a></li>

      <li class="nav-item" (click)="sidenavHidden = !sidenavHidden">
        <div class="splitter"></div>
        <mat-icon class="hider" style="font-size: 32px; width: 35px; height: 35px">
          {{ sidenavHidden ? '>>' : '<<' }}<<
        </mat-icon>
      </li>

    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
     
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
