<mat-card class="container">

  <mat-card-header class="title">
    <h1>{{ this.projectName }}</h1>
  </mat-card-header>

  <mat-card-content>
    <div style="padding: 0px 16px;display:flex;">


      <div class="main">
        <div class="project-description">
          {{ this.projectDescription }}
        </div>

        <app-sprint-list
          [projectId]="projectId"
        ></app-sprint-list>
      </div>

      <div class="members">
        <app-project-members
          [projectId]="projectId"
        ></app-project-members>
      </div>
    </div>

  </mat-card-content>

</mat-card>
