<div class="temp">
<div class="container">
  <div class="title">
    <h1>{{this.project.name }}</h1>
  </div>
  <div class="main"  style="float: left;">
    <div class="project-description">
      {{this.project.description}}
    </div>
    
      <app-sprint-list 
      [activeSprint]="activeSprint"
      [plannedSprints]="plannedSprints"
      [finishedSprints]="finishedSprints"
      ></app-sprint-list>
  </div>
  <div class="members" style="float: left;">
    <app-project-members></app-project-members>
  </div>
  
  
</div>
</div>