<div class="employee-container">
    <h2>Members</h2>
    <ul class="employee-list">
      <li class="employee-bar">
        <img src="https://www.w3schools.com/w3css/img_avatar2.png" class="bg employee-bar-item circle" style="width:60px">
        <div class="employee-bar-item">
          <span class="font-large">Joel</span><br>
          <span>Web Designer</span>
        </div>
      </li>
  
      <li class="employee-bar">
        <img src="https://www.w3schools.com/w3css/img_avatar5.png" class="bg employee-bar-item circle" style="width:60px">
        <div class="employee-bar-item">
          <span class="font-large">Jill</span><br>
          <span>Support</span>
        </div>
      </li>
  
      <li class="employee-bar">
        <img src="https://www.w3schools.com/w3css/img_avatar6.png" class="bg employee-bar-item circle" style="width:60px">
        <div class="employee-bar-item">
          <span class="font-large">Jane</span><br>
          <span>Accountant</span>
        </div>
      </li>
    </ul>
</div>