
.temp {
    margin-left: 300px;
    margin-top: 200px;
}

.container {
    padding: 16px;
}

.main {
    padding: 0px 16px;
    max-width: 800px;
}

h1 {
    font-size: 40px;
    padding: 8px 0px;
}

.members {
    width: 400px;
    margin-left: 50px;
}

.project-description {
    font-size: 17px;
    padding: 20px 0px;
}
