
.container {
    padding: 40px;
    padding-right: 80px;
    margin-left: 0px;
}

h1 {
    font-size: 40px;
    padding: 8px 0px;
}

.members {
    width: 400px;
    margin-left: 50px;
}

.project-description {
    font-size: 17px;
    padding: 20px 0px;
}
