.title {
    font-size: 20px;
    cursor: pointer;
}

.details {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 3px solid;
    border-color: aquamarine;
    border-radius: 10px;
    transition: border-color 0.3s;
    height: 44px;
    align-items: center;
}

.container:hover {
    background-color: #e6e6e6;
    border-color: rgb(0, 255, 170);
}

.icon-size {
    font-size: 24px;
    cursor: pointer;
}
