
.title {
    font-size: 18px;
    cursor: pointer;
}

.details {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    transition: border-color 0.3s;
    height: 30px;
    align-items: center;
}

.container:hover {
    background-color: gray;
    border-color: rgb(0, 255, 170);
}

.icon-size {
    font-size: 24px;
    cursor: pointer;
    color: aquamarine;
}
