.row {
    // display: flex;
    // flex-wrap: wrap;
    width: 100%;
}

.col-md-9 {
    width: 100%;
}

.col-md-4 {
    width: 100%;
    padding: 5px;
}

.cdkDrop {
    width: 100%;
}
.row-col {
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    display: grid;
}
:host .mat-form-field {
    width: 100%;
  }
  
  .example-container {
    width: 400px;
    max-width: 100%;
    //margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: lightgrey;
    font-size: 14px;
    text-align: center;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }
  
  .head-title {
    margin: 0;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    text-align: center;
  
    span {
      font-weight: normal;
    }
  }

.formDiv {
    
}
.connectDiv {
    display: flex;
    flex-direction: row;
}
.smallDiv {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.bigDiv {
    //width: 100%;
}
  