@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.menu-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: #24252a;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    text-shadow: 0 0 24px white;
    font-family: 'Roboto Slab', serif;
    color: aquamarine;
    width: 150px;
    letter-spacing: 2px;
    cursor: pointer;
}

.right-navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  border: 5px solid #24252a;
  border-radius: 15px;
  margin-right: 5px;
}

.profile:hover {
  background-color: gray;
  border: 5px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 3px white;
  cursor: pointer;
  color: aquamarine;
}

.name-and-email {
  text-align: right;
  margin-right: 8px;
}

.name {
  font-size: 18px;
}

.email {
  font-size: 12px;
}

.icon {
  font-size: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: 5px solid #24252a;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background-color: gray;
  border: 5px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 3px lightgray;
  color: aquamarine;
}

.bg:hover {
  animation: pulse 1.2s ease infinite;
}

.circle {
  border-radius:50%;
}

  .nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    font-size: 20px;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }

  .nav__links li {
    padding: 0px 20px;
  }

  .nav__links li a {
    transition: color 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: #0088a9;
  }

