<div class="main-container">
  <header class="menu-navbar-container">
    <div class="logo-container" (click)="onLogoPressed()">
      <img src="/assets/logo.svg" width="48px" height="48px">
      Jira
    </div>

    <nav>
      <ul class="menu-links">
        <li><a routerLink="/dashboard">Projekty</a></li>
        <li><a routerLink="create-project">Utwórz projekt</a></li>
            <li><a routerLink="account-view">Profil</a></li>
      </ul>
    </nav>
    <div class="right-navbar">
      <div class="profile" (click)="onProfileClicked()">
        <div class="name-and-email">
          <div class="name">
            {{currentUser.firstName}} {{currentUser.lastName}}
            
          </div>
          <div class="email">
            {{currentUser.email}}
          </div>

        </div>
        <img src='https://www.w3schools.com/w3css/img_avatar3.png' class="bg employee-bar-item circle" style="width:50px">
        <!--   -->
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-icon class="icon" matTooltip="Wyloguj" (click)="onLogoutPressed()">logout</mat-icon>
    </div>
  </header>
  <div class="splitter"></div>
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
</div>
