@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.main-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #24252a;
    height: 13vh;
}

.splitter {
  padding: 0.1vh;
  background-color: aquamarine;
  box-shadow: 0 0 20px aquamarine;
}

.sidenav {
  height: 86.8vh;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    text-shadow: 0 0 24px white;
    font-family: 'Roboto Slab', serif;
    color: aquamarine;
    width: 150px;
    letter-spacing: 2px;
    cursor: pointer;
}

.right-navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  border: 5px solid #24252a;
  border-radius: 15px;
  margin-right: 5px;
}

.profile:hover {
  background-color: gray;
  border: 5px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 3px white;
  cursor: pointer;
  color: aquamarine;
  transition: color 0.3s ease 0s;
}

.name-and-email {
  text-align: right;
  margin-right: 8px;
}

.name {
  font-size: 18px;
}

.email {
  font-size: 12px;
}

.icon {
  font-size: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: 5px solid #24252a;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background-color: gray;
  border: 5px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 3px lightgray;
  color: aquamarine;
  transition: color 0.3s ease 0s;
}

.bg:hover {
  animation: pulse 1.2s ease infinite;
}

.circle {
  border-radius:50%;
}

.menu-links a {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 22px;
}

.menu-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.menu-links li {
  padding: 0px 20px;
}

.menu-links li a {
  transition: color 0.3s ease 0s;
}

.menu-links li a:hover {
  color: aquamarine;
}
