.p-xl {
    padding: 40px;
  }
  
  .lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
  }
  
  
  .widget {
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
   
  }
  
  .widget h2, .widget h3 {
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom:1px dotted white;
  }
  
  .m-t-md {
    margin-top: 20px;
  }
  
  .col-md-4{
  width: 370px;
  
  }
  
  .project-name{
    font-family: "Montserrat", sans-serif;
    font-weight: 540;
    font-size: large;
    color: #000406;
  }
  .card-task{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000406;
  }
  .container-card{
    background-color: #23c6c8;
  }